node_modules/
.cache/
public
src/gatsby-types.d.ts
.env
.env.development
package-lock.json
readme.md
.DS_Store
migration-storybook.log
storybook-static/
imagesForUpload
coverage/
src/components/__snapshots__/__diff_output__/
.yarn
coverage-final.json